<div class="navigation-bar">
  <p>navigation-bar works!</p>

  <div>
    <span>Dynamic Path Id: {{ count }}</span>
    <button type="button" (click)="increment()">increment</button>
  </div>

  <div class="navigation-bar__content">
    <a routerLink="/">Go To Home Page</a>
    <a class="link" routerLink="/static" routerLinkActive="router-link-active" >Go To Static Page</a>
    <a class="link" [routerLink]="['/dynamic', count]" routerLinkActive="router-link-active" >Go To Dynamic Page ("/dynamic/{{ count }}")</a>
    <a class="link" routerLink="/nested" routerLinkActive="router-link-active" >Go To Nested Static Page</a>
    <a class="link" [routerLink]="['/nested', count]" routerLinkActive="router-link-active" >Go To Nested Dynamic Page ("/nested/{{ count }}")</a>
    <a class="link" routerLink="/404" routerLinkActive="router-link-active" >Go To Not Found Page</a>
  </div>
</div>

